<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="https://plus.google.com/_/favicon?domain=northbynorthwestern.com" />

    <!-- CSS -->
    {{ CSS.push('css/bootstrap.css') }}
    {{ CSS.push('css/bootstrap-responsive.css') }}
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}


    <!-- JS -->
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/jquery-1.8.3.js') }}
    {{ JS.push('js/lib/html5.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/responsive-ad.js') }}
    {% block extra_head_js %}{% endblock extra_head_js %}
    {{ JS.render('js/app-header.min.js') }}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@northbynorthwestern">
    <meta property="og:title" content="{{ FACEBOOK.TITLE }}" />
    <meta property="og:url" content="{{ FACEBOOK.URL }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ FACEBOOK.DESCRIPTION }}" />
    <meta property="og:image" content="{{ FACEBOOK.IMAGE_URL }}" />
    <meta property="og:site_name" content="northbynorthwestern.com" />
    <meta property="fb:app_id" content="{{ FACEBOOK.APP_ID }}" />

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% block outer_content %}

    <nav>
        <ul class="site-links">
            <li class="nbn"><a href="http://northbynorthwestern.com"><img src="http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png" alt="NBN" /></a></li>
            <li class="news"><a href="http://www.northbynorthwestern.com/section/news/">News</a></li>
            <li class="features"><a href="http://www.northbynorthwestern.com/section/features/">Features</a></li>
            <li class="arts"><a href="http://www.northbynorthwestern.com/section/life-and-style/">Life &amp; Style</a></li>
            <li class="entertain"><a href="http://www.northbynorthwestern.com/section/entertainment/">Entertainment</a></li>
            <li class="sports"><a href="http://www.northbynorthwestern.com/section/sports/">Sports</a></li>
            <li class="politics"><a href="http://www.northbynorthwestern.com/section/politics/">Politics</a></li>
            <li class="mag"><a href="http://www.northbynorthwestern.com/library">Magazine</a></li>
        </ul>
        <ul class="social-links">
            <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ TWITTER.TEXT|urlencode }}&amp;url={{ TWITTER.URL|urlencode }}" alt="Share on Twitter" target="_blank">Share This Page On Twitter</a></li>
        </ul>
    </nav>

    {% block header_content %}
    {% endblock header_content %}

    <section class="the-goods">
        <div class="container">
            <div class="row">
                <div id="main-content" class="span12">
                    {% block content %}
                    <h1>{{ project_name }}</h1>
                    App content goes here.
                    {% endblock content %}
                </div>
            </div>
            {% block wide_content %}
            {% endblock wide_content %}
        </div>
    </section>

    <footer>
        <div class="primary">
            <ul>
                <li><a href="http://www.northbynorthwestern.com"><img src="https://plus.google.com/_/favicon?domain=northbynorthwestern.com" alt="NBN Logo"></a></li>
            </ul>
        </div>
        <div class="secondary">
            <p>&copy;2013 NBN</p>
        </div>
        <div>
            <p>Design and development by Tyler Fisher, Hilary Fung and Katie Zhu. </p>
            <p>Photography by Natalie Krebs. Additional photos provided by Brennan Anderson, Camille Beredjick, Julie Kliegman, Julia Haskins, Danny Moran and Jordyn Wolking.</p>
        </div>
    </footer>

    {% endblock outer_content %}

    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
